*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

ul,
ol {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
}

button {
  cursor: pointer;
}

.visually-hidden {
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  clip-path: inset(100%);
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body {
  scroll-behavior: smooth;
  font-family: "Montserrat";
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0px 30px;
  max-width: 1440px;
}
@media only screen and (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 576px) {
  .container {
    padding: 0 10px;
  }
}

.navbar {
  top: 100px;
  left: -100%;
  width: 100%;
  min-height: 100vh;
  position: absolute;
  transition: left 150ms linear;
  background-color: rgba(0, 0, 0, 0.5019607843);
}
@media only screen and (max-width: 1200px) {
  .navbar--open {
    left: 0%;
    transition: left 150ms linear;
  }
}
.navbar__contacts {
  display: none;
}
@media only screen and (max-width: 1200px) {
  .navbar__contacts {
    display: block;
  }
}
.navbar__background {
  height: 100%;
  padding: 30px;
  min-height: 160px;
  background-color: #ffffff;
}
@media only screen and (max-width: 768px) {
  .navbar__background {
    padding: 20px;
  }
}
@media only screen and (max-width: 576px) {
  .navbar__background {
    padding: 10px;
  }
}
.navbar__list {
  margin-bottom: 0px;
  gap: 12px;
  display: flex;
  align-items: flex-start;
  flex-flow: column nowrap;
  justify-content: flex-start;
}
.navbar__item-link {
  padding: 10px 20px;
  display: inline-block;
  background-color: #d2d2d2;
  transition: color 150ms linear, background-color 150ms linear;
  color: #1e1e1e;
  font-size: 12px;
  line-height: 100%;
  font-weight: 400;
  text-transform: capitalize;
}
.navbar__item-link:hover {
  color: #ffffff;
  background-color: #e18a07;
}
.navbar__item:last-child a {
  color: #ffffff;
  background-color: #1e1e1e;
}

.header {
  top: 0;
  z-index: 2;
  position: sticky;
  margin-bottom: 120px;
  background-color: #ffffff;
}
@media only screen and (max-width: 768px) {
  .header {
    margin-bottom: 75px;
  }
}
@media only screen and (max-width: 576px) {
  .header {
    margin-bottom: 50px;
  }
}
.header__container {
  padding: 28px 0px;
  gap: 0px;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: space-between;
}
@media only screen and (max-width: 576px) {
  .header__container {
    padding: 14px 0px;
  }
}
.header-logo {
  height: 70px;
  width: 146px;
}
@media only screen and (max-width: 576px) {
  .header-logo {
    width: 105px;
  }
}
.header-contact {
  padding: 18px 36px;
  font-family: Montserrat;
  border: 1px solid #1e1e1e;
  background-color: #1e1e1e;
  transition: color 150ms linear, background-color 150ms linear;
  color: #ffffff;
  font-size: 16px;
  line-height: 19.5px;
  font-weight: 400;
  text-transform: none;
}
@media only screen and (max-width: 1200px) {
  .header-contact {
    display: none;
  }
}
.header-contact i {
  color: #ffffff;
}
.header-contact-btn {
  width: 50px;
  height: 50px;
  display: none;
  background-color: #1e1e1e;
  border: 1px solid #1e1e1e;
}
@media only screen and (max-width: 1200px) {
  .header-contact-btn {
    display: block;
  }
}
.header-contact-btn--times {
  display: none;
}
.header-contact-btn i {
  font-size: 18px;
  color: #ffffff;
}
@media only screen and (max-width: 576px) {
  .header-contact-btn i {
    font-size: 16px;
  }
}
.header-contact:hover {
  color: #1e1e1e;
  background-color: transparent;
}
.header-select-container {
  max-width: 200px;
  min-width: 200px;
  position: relative;
}
@media only screen and (max-width: 576px) {
  .header-select-container {
    max-width: 150px;
    min-width: 150px;
  }
}
.header-select__top {
  cursor: pointer;
  padding: 10px 5px;
  border: 1px solid #1e1e1e;
  gap: none;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: space-between;
}
@media only screen and (max-width: 576px) {
  .header-select__top {
    padding: 5px;
  }
}
.header-select__top-text {
  color: #1e1e1e;
  font-size: 14px;
  line-height: none;
  font-weight: 400;
  text-transform: capitalize;
}
.header-select__top i {
  font-size: 14px;
}
.header-select__top i.active {
  transform: rotate(180deg);
}
.header-select-languages {
  left: 0;
  width: 100%;
  height: 0px;
  min-height: 0%;
  overflow: hidden;
  position: absolute;
  visibility: hidden;
  background-color: #ffffff;
  border: 0.5px solid #1e1e1e;
  gap: 0;
  display: flex;
  align-items: flex-start;
  flex-flow: column nowrap;
  justify-content: flex-start;
}
.header-select-languages--open {
  height: auto;
  overflow: auto;
  min-height: 100%;
  visibility: visible;
}
.header-select__language {
  width: 100%;
  cursor: pointer;
  padding: 10px 5px;
  transition: background-color 150ms linear;
  gap: 0px;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.header-select__language:hover {
  background-color: #e18a07;
}
.header-select__language:hover > .header-select__language-text {
  color: #ffffff;
}
.header-select__language:hover > i {
  color: #ffffff;
}
.header-select__language-text {
  transition: color 150ms linear;
  color: #1e1e1e;
  font-size: 14px;
  line-height: none;
  font-weight: 400;
  text-transform: capitalize;
}
.header-select__language i {
  font-size: 14px;
  visibility: hidden;
}
.header-select__language i.visible {
  visibility: visible;
}
.header-phone {
  width: 60px;
  height: 60px;
  display: none;
  border: 1px solid transparent;
  background-color: #1e1e1e;
}
@media only screen and (max-width: 1200px) {
  .header-phone {
    display: none;
  }
}
.header-phone i {
  font-size: 18px;
  color: #ffffff;
}
@media only screen and (max-width: 576px) {
  .header-phone i {
    font-size: 16px;
  }
}
.header-contact__container {
  gap: 10px;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

@media only screen and (max-width: 1200px) {
  .nav {
    display: none;
  }
}
.nav__list {
  max-width: 540px;
  min-width: 540px;
  gap: 0px;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.nav__item-link {
  letter-spacing: 0%;
  position: relative;
  transition: color 150ms linear;
  color: #1e1e1e;
  font-size: 16px;
  line-height: 19.5px;
  font-weight: 400;
  text-transform: none;
}
.nav__item-link::after {
  left: 0;
  width: 0%;
  content: "";
  height: 2px;
  bottom: -5px;
  position: absolute;
  background-color: #e18a07;
  transition: width 150ms linear;
}
.nav__item-link:hover {
  color: #e18a07;
}
.nav__item-link:hover::after {
  width: 100%;
}

.footer {
  min-height: 360px;
}
.footer__background {
  height: 100%;
  padding: 40px 0px;
  background-color: #f5f6f9;
}
.footer__wrapper {
  gap: 20px;
  display: flex;
  align-items: space-between;
  flex-flow: row nowrap;
  justify-content: space-between;
}
@media only screen and (max-width: 1035px) {
  .footer__wrapper {
    gap: 20px;
    display: flex;
    align-items: space-between;
    flex-flow: column nowrap;
    justify-content: space-between;
  }
}
.footer__small-box-container {
  gap: 25px;
  display: flex;
  align-items: flex-end;
  flex-flow: column nowrap;
  justify-content: space-between;
}
@media only screen and (max-width: 1035px) {
  .footer__small-box-container {
    gap: 25px;
    display: flex;
    align-items: flex-start;
    flex-flow: column nowrap;
    justify-content: space-between;
  }
}
.footer__small-box:first-child {
  padding-top: 30px;
}
@media only screen and (max-width: 950px) {
  .footer__small-box:first-child {
    padding-top: 0px;
  }
}
.footer__box-logo {
  height: 60px;
  width: 125px;
}
.footer__box:first-child {
  gap: 0px;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  justify-content: space-between;
}
@media only screen and (max-width: 1035px) {
  .footer__box:first-child {
    gap: 0px;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}
.footer__box:last-child {
  gap: 40px;
  display: flex;
  align-items: space-between;
  flex-flow: row nowrap;
  justify-content: space-between;
}
@media only screen and (max-width: 950px) {
  .footer__box:last-child {
    gap: 20px;
    display: flex;
    align-items: space-between;
    flex-flow: column-reverse nowrap;
    justify-content: space-between;
  }
}
.footer__bottom {
  padding: 12px 0px;
  background-color: #ffffff;
  gap: 15px;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: space-between;
}
@media only screen and (max-width: 650px) {
  .footer__bottom {
    gap: 15px;
    display: flex;
    align-items: flex-start;
    flex-flow: column nowrap;
    justify-content: space-between;
  }
}
.footer__bottom-text {
  color: rgba(31, 31, 31, 0.6980392157);
  font-size: 13px;
  line-height: 100%;
  font-weight: 400;
  text-transform: none;
}
.footer__bottom-text a {
  color: inherit;
}
.footer__medias {
  gap: 12px;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: flex-end;
}
.footer__media:hover {
  border-radius: 50%;
  background-color: #1e1e1e;
  transition: background-color 150ms linear;
}
.footer__media:hover .footer__media-icon {
  color: #ffffff;
}
.footer__media a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1.5px solid #1e1e1e;
  gap: 0px;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: center;
}
.footer__media-icon {
  font-size: 20px;
  color: #1e1e1e;
  transition: color 150ms linear;
}
.footer__list {
  gap: 20px;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: flex-start;
}
@media only screen and (max-width: 950px) {
  .footer__list {
    gap: 20px;
    display: flex;
    align-items: flex-start;
    flex-flow: column nowrap;
    justify-content: flex-start;
  }
}
.footer__item-link {
  position: relative;
  transition: color 150ms linear;
  color: #1e1e1e;
  font-size: 16px;
  line-height: 19.5px;
  font-weight: 500;
  text-transform: none;
}
@media only screen and (max-width: 768px) {
  .footer__item-link {
    font-size: 14px;
  }
}
.footer__item-link::after {
  left: 0;
  width: 0%;
  content: "";
  height: 2px;
  bottom: -5px;
  position: absolute;
  background-color: #e18a07;
  transition: width 150ms linear;
}
.footer__item-link:hover {
  color: #e18a07;
}
.footer__item-link:hover::after {
  width: 100%;
}
.footer__telegram-contact-title {
  color: #1e1e1e;
  font-size: 16px;
  line-height: 19.5px;
  font-weight: 500;
  text-transform: none;
}
@media only screen and (max-width: 768px) {
  .footer__telegram-contact-title {
    font-size: 14px;
  }
}
.footer__telegram-contact-link {
  padding: 10px;
  margin-left: 15px;
  border-radius: 2px;
  display: inline-block;
  border: 1px solid #1e1e1e;
  transition: color 150ms linear, background-color 150ms linear;
  color: #1e1e1e;
  font-size: 16px;
  line-height: 19.5px;
  font-weight: 400;
  text-transform: none;
}
@media only screen and (max-width: 768px) {
  .footer__telegram-contact-link {
    padding: 5px;
    font-size: 14px;
  }
}
@media only screen and (max-width: 576px) {
  .footer__telegram-contact-link {
    margin-top: 10px;
  }
}
.footer__telegram-contact-link:hover {
  color: #ffffff;
  background-color: #1e1e1e;
}
.footer__box-image {
  width: 330px;
  height: 240px;
  object-fit: cover;
}
@media only screen and (max-width: 950px) {
  .footer__box-image {
    width: 100%;
  }
}

.hero__content {
  margin: 0 auto;
  max-width: 1040px;
  min-width: 1040px;
  text-align: center;
}
@media only screen and (max-width: 1100px) {
  .hero__content {
    min-width: 0px;
  }
}
.hero__content-span {
  color: #e18a07;
}
.hero__content-title {
  position: relative;
  font-family: "Libre Baskerville";
  color: #1e1e1e;
  font-size: 90px;
  line-height: 111.6px;
  font-weight: 700;
  text-transform: none;
}
.hero__content-title::before {
  bottom: -20px;
  left: -40px;
  width: 35px;
  position: absolute;
  content: url("../../images/svg/hero-left-icon.svg");
}
@media only screen and (max-width: 768px) {
  .hero__content-title::before {
    left: 40px;
    bottom: -10px;
  }
}
@media only screen and (max-width: 576px) {
  .hero__content-title::before {
    left: 20px;
    bottom: -5px;
  }
}
.hero__content-title::after {
  top: 30%;
  right: -40px;
  width: 70px;
  position: absolute;
  content: url("../../images/svg/hero-right-icon.svg");
}
@media only screen and (max-width: 768px) {
  .hero__content-title::after {
    right: 0%;
    top: -20%;
  }
}
@media only screen and (max-width: 576px) {
  .hero__content-title::after {
    top: -25%;
    right: 15%;
    width: 10px;
    height: 10px;
  }
}
@media only screen and (max-width: 1100px) {
  .hero__content-title {
    font-size: 75px;
    line-height: 90px;
    margin-bottom: 12px;
  }
}
@media only screen and (max-width: 768px) {
  .hero__content-title {
    font-size: 50px;
    line-height: 70px;
    margin-bottom: 0px;
  }
}
@media only screen and (max-width: 576px) {
  .hero__content-title {
    font-size: 32px;
    line-height: 50px;
  }
}
.hero__content-text {
  margin-bottom: 60px;
  color: #1e1e1e;
  font-size: 24px;
  line-height: 29.26px;
  font-weight: 400;
  text-transform: none;
}
@media only screen and (max-width: 1100px) {
  .hero__content-text {
    font-size: 20px;
    margin-bottom: 45px;
  }
}
@media only screen and (max-width: 768px) {
  .hero__content-text {
    font-size: 18px;
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 576px) {
  .hero__content-text {
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 30px;
  }
}
.hero__contact {
  margin-bottom: 80px;
  gap: 20px;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: center;
}
@media only screen and (max-width: 1100px) {
  .hero__contact {
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 400px) {
  .hero__contact {
    gap: 10px;
  }
}
.hero__contact-btn {
  padding: 18px 40px;
  background-color: #1e1e1e;
  border: 2px solid #1e1e1e;
  color: #ffffff;
  font-size: 16px;
  line-height: 19.5px;
  font-weight: 400;
  text-transform: none;
  transition: color 150ms linear, background-color 150ms linear;
}
@media only screen and (max-width: 1100px) {
  .hero__contact-btn {
    font-size: 14px;
  }
}
@media only screen and (max-width: 450px) {
  .hero__contact-btn {
    font-size: 12px;
    padding: 16px 35px;
  }
}
@media only screen and (max-width: 400px) {
  .hero__contact-btn {
    font-size: 12px;
    padding: 16px 25px;
  }
}
.hero__contact-btn:hover {
  color: #1e1e1e;
  background-color: transparent;
}
.hero__contact-btn--orange {
  color: #e18a07;
  border: 2px solid #e18a07;
  background-color: transparent;
}
.hero__contact-btn--orange:hover {
  color: #ffffff;
  background-color: #e18a07;
}
.hero__play {
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 50%;
  margin: 0 auto 60px auto;
  gap: 0px;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: center;
}
.hero__play-image {
  width: 30px;
  height: 30px;
}
.hero__play-text {
  width: 100%;
  height: 100%;
  position: absolute;
  animation: circle 10s linear infinite;
}
@keyframes circle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.hero__play-text span {
  left: 50%;
  position: absolute;
  transform-origin: 0 100px;
  color: #000000;
  font-size: 14px;
  line-height: none;
  font-weight: 400;
  text-transform: capitalize;
}

.results {
  padding: 36px 0px;
  margin-bottom: 120px;
  background-color: #1e1e1e;
}
@media only screen and (max-width: 768px) {
  .results {
    margin-bottom: 60px;
  }
}
.results__list {
  gap: 140px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media only screen and (max-width: 1200px) {
  .results__list {
    gap: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 768px) {
  .results__list {
    gap: 35px;
  }
}
@media only screen and (max-width: 576px) {
  .results__list {
    gap: 20px;
  }
}
.results__item {
  text-align: center;
}
.results__item-title {
  margin-bottom: 12px;
  color: #ffffff;
  font-size: 50px;
  line-height: 60.95px;
  font-weight: 600;
  text-transform: none;
}
@media only screen and (max-width: 768px) {
  .results__item-title {
    font-size: 35px;
    line-height: 40px;
  }
}
@media only screen and (max-width: 576px) {
  .results__item-title {
    font-size: 28px;
    margin-bottom: 5px;
  }
}
.results__item-text {
  color: #ffffff;
  font-size: 20px;
  line-height: 24.38px;
  font-weight: 500;
  text-transform: none;
}
@media only screen and (max-width: 768px) {
  .results__item-text {
    font-size: 18px;
  }
}
@media only screen and (max-width: 576px) {
  .results__item-text {
    font-size: 14px;
  }
}

.services {
  margin-bottom: 120px;
}
@media only screen and (max-width: 768px) {
  .services {
    margin-bottom: 60px;
  }
}
.services-title {
  text-align: center;
  margin-bottom: 36px;
  font-family: "Libre Baskerville";
  color: #1e1e1e;
  font-size: 48px;
  line-height: 59.52px;
  font-weight: 700;
  text-transform: none;
}
@media only screen and (max-width: 768px) {
  .services-title {
    font-size: 35px;
    margin-bottom: 28px;
  }
}
@media only screen and (max-width: 576px) {
  .services-title {
    margin-bottom: 20px;
  }
}
.services-span {
  color: #e18a07;
}
.services__list {
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media only screen and (max-width: 768px) {
  .services__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 576px) {
  .services__list {
    grid-gap: 16px;
    grid-template-columns: repeat(1, 1fr);
  }
}
.services__item {
  width: 100%;
  padding: 24px;
  text-align: center;
  background-color: #f5f6f9;
}
@media only screen and (max-width: 576px) {
  .services__item {
    padding: 20px;
  }
}
.services__item-title {
  margin-bottom: 16px;
  color: #1e1e1e;
  font-size: 24px;
  line-height: 29.26px;
  font-weight: 700;
  text-transform: none;
}
@media only screen and (max-width: 576px) {
  .services__item-title {
    font-size: 22px;
    margin-bottom: 14px;
  }
}
.services__item-text {
  color: #606060;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  text-transform: none;
}
@media only screen and (max-width: 576px) {
  .services__item-text {
    font-size: 14px;
  }
}

.highlight {
  padding: 56px 0px;
  margin-bottom: 120px;
  background-color: #f5f6f9;
}
@media only screen and (max-width: 768px) {
  .highlight {
    padding: 45px 0px;
    margin-bottom: 60px;
  }
}
.highlight__content {
  margin: 0 auto;
  max-width: 575px;
  min-width: 575px;
  text-align: center;
  margin-bottom: 80px;
}
@media only screen and (max-width: 768px) {
  .highlight__content {
    min-width: 0px;
    margin-bottom: 50px;
  }
}
.highlight__content-span {
  color: #e18a07;
}
.highlight__content-title {
  margin-bottom: 12px;
  font-family: "Libre Baskerville";
  color: #1e1e1e;
  font-size: 48px;
  line-height: 62.4px;
  font-weight: 700;
  text-transform: none;
}
@media only screen and (max-width: 768px) {
  .highlight__content-title {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 5px;
  }
}
@media only screen and (max-width: 576px) {
  .highlight__content-title {
    font-size: 36px;
  }
}
.highlight__content-text {
  color: #1e1e1e;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  text-transform: none;
}
@media only screen and (max-width: 768px) {
  .highlight__content-text {
    font-size: 18px;
  }
}
@media only screen and (max-width: 576px) {
  .highlight__content-text {
    font-size: 16px;
  }
}
.highlight__content-icon {
  width: 60px;
  height: 60px;
  margin-bottom: 12px;
}
@media only screen and (max-width: 768px) {
  .highlight__content-icon {
    width: 40px;
    height: 40px;
    margin-bottom: 6px;
  }
}
.highlight__list {
  margin-bottom: 80px;
  gap: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media only screen and (max-width: 900px) {
  .highlight__list {
    gap: 25px;
  }
}
@media only screen and (max-width: 768px) {
  .highlight__list {
    gap: 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 576px) {
  .highlight__list {
    gap: 25px;
    display: grid;
    grid-template-columns: 1fr;
  }
}
.highlight__item {
  text-align: center;
}
.highlight__item-title {
  margin-bottom: 12px;
  color: #1e1e1e;
  font-size: 24px;
  line-height: 29.26px;
  font-weight: 700;
  text-transform: none;
}
@media only screen and (max-width: 768px) {
  .highlight__item-title {
    font-size: 20px;
    margin-bottom: 6px;
  }
}
.highlight__item-text {
  color: #1e1e1e;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-transform: none;
}
@media only screen and (max-width: 768px) {
  .highlight__item-text {
    font-size: 14px;
  }
}
.highlight__contact {
  text-align: center;
  gap: 0px;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  justify-content: center;
}
.highlight__contact-title {
  margin-bottom: 10px;
  color: #1e1e1e;
  font-size: 30px;
  line-height: 36.57px;
  font-weight: 700;
  text-transform: none;
}
@media only screen and (max-width: 768px) {
  .highlight__contact-title {
    font-size: 28px;
  }
}
@media only screen and (max-width: 576px) {
  .highlight__contact-title {
    font-size: 26px;
  }
}
.highlight__contact-text {
  margin-bottom: 28px;
  color: #1e1e1e;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  text-transform: none;
}
@media only screen and (max-width: 768px) {
  .highlight__contact-text {
    font-size: 16px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 576px) {
  .highlight__contact-text {
    font-size: 14px;
  }
}
.highlight__contact-btn {
  padding: 18px 36px;
  background-color: #e18a07;
  border: 2px solid #e18a07;
  color: #ffffff;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  text-transform: none;
  transition: color 150ms linear, background-color 150ms linear;
}
.highlight__contact-btn:hover {
  color: #e18a07;
  background-color: transparent;
}
@media only screen and (max-width: 768px) {
  .highlight__contact-btn {
    font-size: 16px;
    padding: 14px 28px;
  }
}
@media only screen and (max-width: 576px) {
  .highlight__contact-btn {
    font-size: 14px;
    padding: 10px 28px;
  }
}

.definition__container {
  padding: 24px;
}
@media only screen and (max-width: 860px) {
  .definition__container {
    padding: 18px;
  }
}
@media only screen and (max-width: 576px) {
  .definition__container {
    padding: 14px;
  }
}
.definition-title {
  text-align: center;
  margin-bottom: 36px;
  font-family: "Libre Baskerville";
  color: #1e1e1e;
  font-size: 48px;
  line-height: 59.52px;
  font-weight: 700;
  text-transform: none;
}
@media only screen and (max-width: 860px) {
  .definition-title {
    font-size: 40px;
  }
}
@media only screen and (max-width: 768px) {
  .definition-title {
    font-size: 30px;
  }
}
@media only screen and (max-width: 576px) {
  .definition-title {
    margin-bottom: 30px;
  }
}
.definition-span {
  color: #e18a07;
}
.definition__cards {
  margin-bottom: 120px;
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media only screen and (max-width: 1300px) {
  .definition__cards {
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 768px) {
  .definition__cards {
    margin-bottom: 60px;
    gap: 20px;
    display: grid;
    grid-template-columns: 1fr;
  }
}
.definition__card {
  background-color: #f1f2f5;
}
.definition__card-img {
  width: 100%;
  height: 440px;
  object-fit: cover;
}
@media only screen and (max-width: 940px) {
  .definition__card-img {
    height: 400px;
  }
}
@media only screen and (max-width: 768px) {
  .definition__card-img {
    height: 360px;
  }
}
@media only screen and (max-width: 576px) {
  .definition__card-img {
    height: 250px;
  }
}
.definition__content {
  margin-bottom: 30px;
  gap: 0px;
  display: flex;
  align-items: flex-start;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.definition__content-title {
  color: #1e1e1e;
  font-size: 24px;
  line-height: 29.26px;
  font-weight: 500;
  text-transform: none;
}
@media only screen and (max-width: 860px) {
  .definition__content-title {
    font-size: 20px;
  }
}
.definition__price {
  text-align: right;
}
.definition__price-title {
  margin-bottom: 8px;
  color: #1e1e1e;
  font-size: 24px;
  line-height: 29.26px;
  font-weight: 700;
  text-transform: none;
}
@media only screen and (max-width: 860px) {
  .definition__price-title {
    font-size: 20px;
  }
}
.definition__price-sub-title {
  color: #1e1e1e;
  font-size: 20px;
  line-height: 24.38px;
  font-weight: 600;
  text-transform: none;
}
@media only screen and (max-width: 860px) {
  .definition__price-sub-title {
    font-size: 18px;
  }
}
.definition__infos {
  margin-bottom: 16px;
  gap: 16px;
  display: flex;
  align-items: flex-start;
  flex-flow: column nowrap;
  justify-content: flex-start;
}
.definition__info {
  gap: 24px;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: flex-start;
}
.definition__info-img {
  height: 12px;
  width: 7.5px;
}
.definition__info-text {
  color: rgba(0, 0, 0, 0.5019607843);
  font-size: 16px;
  line-height: 0%;
  font-weight: 500;
  text-transform: none;
}
@media only screen and (max-width: 860px) {
  .definition__info-text {
    font-size: 14px;
  }
}
.definition__warning {
  margin-bottom: 36px;
  gap: 24px;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: flex-start;
}
.definition__warning-icon {
  width: 2px;
  height: 16px;
}
.definition__warning-text {
  color: #1e1e1e;
  font-size: 12px;
  line-height: 14.63px;
  font-weight: 500;
  text-transform: none;
}
.definition-text {
  margin-bottom: 16px;
  color: #606060;
  font-size: 16px;
  line-height: 19.5px;
  font-weight: 400;
  text-transform: none;
}
@media only screen and (max-width: 860px) {
  .definition-text {
    font-size: 14px;
  }
}
.definition__view {
  gap: 16px;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: space-between;
}
@media only screen and (max-width: 860px) {
  .definition__view {
    gap: 8px;
  }
}
.definition__view-btn {
  width: 100%;
  padding: 18px 9px;
  text-wrap: nowrap;
  background-color: #1e1e1e;
  border: 2px solid #1e1e1e;
  gap: 0px;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: center;
  color: #ffffff;
  font-size: 16px;
  line-height: 19.5px;
  font-weight: 500;
  text-transform: none;
  transition: color 150ms linear, background-color 150ms linear;
}
@media only screen and (max-width: 940px) {
  .definition__view-btn {
    font-size: 14px;
    padding: 14px 7px;
  }
}
.definition__view-btn:hover {
  color: #1e1e1e;
  background-color: transparent;
}
.definition__view-btn--orange {
  border: 2px solid #e18a07;
  background-color: #e18a07;
}
.definition__view-btn--orange:hover {
  color: #e18a07;
}

.questions {
  padding: 56px 0px;
  margin-bottom: 120px;
  background-color: #f5f6f9;
}
@media only screen and (max-width: 768px) {
  .questions {
    padding: 28px 0px;
    margin-bottom: 60px;
  }
}
.questions-title {
  text-align: center;
  margin-bottom: 36px;
  font-family: "Libre Baskerville";
  color: #1e1e1e;
  font-size: 48px;
  line-height: 59.52px;
  font-weight: 700;
  text-transform: none;
}
@media only screen and (max-width: 768px) {
  .questions-title {
    font-size: 40px;
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 576px) {
  .questions-title {
    font-size: 25px;
    margin-bottom: 10px;
  }
}
.questions-span {
  color: #e18a07;
}
.questions__container {
  gap: 36px;
  display: flex;
  align-items: flex-start;
  flex-flow: row nowrap;
  justify-content: space-between;
}
@media only screen and (max-width: 1040px) {
  .questions__container {
    gap: 36px;
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 768px) {
  .questions__container {
    gap: 30px;
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 576px) {
  .questions__container {
    gap: 25px;
    display: grid;
    grid-template-columns: 1fr;
  }
}
.questions__list {
  gap: 40px;
  display: grid;
  grid-template-columns: 1fr;
}
.questions__item {
  padding-bottom: 0px;
  border-bottom: 1.5px solid #d2d2d2;
}
.questions__item--reset {
  padding-bottom: 18px;
}
.questions__item-text {
  color: #606060;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  text-transform: none;
}
@media only screen and (max-width: 576px) {
  .questions__item-text {
    font-size: 12px;
  }
}
.questions__box {
  cursor: pointer;
  padding-bottom: 20px;
  gap: 0px;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: space-between;
}
@media only screen and (max-width: 576px) {
  .questions__box {
    padding-bottom: 10px;
  }
}
.questions__box-title {
  color: #1e1e1e;
  font-size: 20px;
  line-height: 24.38px;
  font-weight: 600;
  text-transform: none;
}
@media only screen and (max-width: 576px) {
  .questions__box-title {
    font-size: 16px;
  }
}
.questions__box-icon {
  width: 18px;
  height: 18px;
  transition: transform 300ms linear;
}
.questions__box-icon--rotate {
  transform: rotate(180deg);
  transition: transform 300ms linear;
}
@media only screen and (max-width: 576px) {
  .questions__box-icon {
    width: 14px;
    height: 14px;
  }
}
.questions__content {
  height: 0;
  width: 100%;
  overflow: hidden;
  transition: height 300ms linear;
}
.questions__content--open {
  height: 100%;
  transition: height 300ms linear;
}

.testimonials {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 120px;
}
@media only screen and (max-width: 768px) {
  .testimonials {
    margin-bottom: 60px;
  }
}
.testimonials-title {
  margin: 0 auto;
  max-width: 695px;
  min-width: 695px;
  text-align: center;
  margin-bottom: 36px;
  font-family: "Libre Baskerville";
  color: #1e1e1e;
  font-size: 48px;
  line-height: 59.52px;
  font-weight: 700;
  text-transform: none;
}
@media only screen and (max-width: 768px) {
  .testimonials-title {
    min-width: 0px;
    font-size: 40px;
    margin: 0px 0px 36px 0px;
  }
}
@media only screen and (max-width: 576px) {
  .testimonials-title {
    font-size: 25px;
    line-height: 50px;
    margin: 0px 0px 28px 0px;
  }
}
.testimonials-span {
  color: #e18a07;
}
.testimonials__item {
  padding: 24px;
  overflow: auto;
  max-width: 440px;
  min-width: 440px;
  border-radius: 2px;
  text-align: center;
  height: 215px !important;
  background-color: #f5f6f9;
}
@media only screen and (max-width: 576px) {
  .testimonials__item {
    padding: 18px;
    min-width: 100%;
  }
}
.testimonials__item-title {
  margin-bottom: 16px;
  color: #1e1e1e;
  font-size: 24px;
  line-height: 29.26px;
  font-weight: 700;
  text-transform: none;
}
@media only screen and (max-width: 576px) {
  .testimonials__item-title {
    font-size: 18px;
  }
}
.testimonials__item-text {
  color: #606060;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  text-transform: none;
}
@media only screen and (max-width: 576px) {
  .testimonials__item-text {
    font-size: 14px;
  }
}

.contact {
  padding: 56px 0px;
  margin-bottom: 120px;
  background-color: #f5f6f9;
}
@media only screen and (max-width: 768px) {
  .contact {
    padding: 28px 0px;
    margin-bottom: 60px;
  }
}
.contact__container {
  text-align: center;
  gap: 0px;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  justify-content: center;
}
.contact__content {
  max-width: 450px;
  min-width: 450px;
  margin-bottom: 36px;
}
@media only screen and (max-width: 576px) {
  .contact__content {
    min-width: 0px;
  }
}
.contact__content-title {
  margin-bottom: 12px;
  font-family: "Libre Baskerville";
  color: #1e1e1e;
  font-size: 48px;
  line-height: 59.52px;
  font-weight: 700;
  text-transform: none;
}
@media only screen and (max-width: 768px) {
  .contact__content-title {
    font-size: 40px;
    line-height: 50px;
  }
}
@media only screen and (max-width: 576px) {
  .contact__content-title {
    font-size: 25px;
  }
}
.contact__content-text {
  color: #1e1e1e;
  font-size: 16px;
  line-height: 19.5px;
  font-weight: 400;
  text-transform: none;
}
@media only screen and (max-width: 768px) {
  .contact__content-text {
    font-size: 14px;
  }
}
@media only screen and (max-width: 576px) {
  .contact__content-text {
    font-size: 12px;
  }
}
.contact__form {
  min-width: 100%;
  max-width: 1000px;
  gap: 16px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media only screen and (max-width: 1000px) {
  .contact__form {
    gap: 16px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 576px) {
  .contact__form {
    gap: 16px;
    display: grid;
    grid-template-columns: 1fr;
  }
}
.contact__form-input {
  padding: 18px 20px;
  color: #acacac;
  outline: none;
  border: 2px solid #1e1e1e;
  background-color: transparent;
  border-radius: 0px;
  color: #1e1e1e;
  font-size: 16px;
  line-height: 19.5px;
  font-weight: 500;
  text-transform: none;
}
.contact__form-input::placeholder {
  color: #acacac;
}
@media only screen and (max-width: 576px) {
  .contact__form-input {
    padding: 14px;
    font-size: 14px;
  }
}
.contact__form-submit {
  transition: color 150ms linear, background-color 150ms linear;
  border: 1px solid #e18a07;
  padding: 18px;
  transition: all 300ms ease;
  background-color: #e18a07;
  border-radius: 2px;
  color: #ffffff;
  font-size: 16px;
  line-height: 19.5px;
  font-weight: 500;
  text-transform: none;
}
.contact__form-submit:hover {
  color: #e18a07;
  background-color: transparent;
}
@media only screen and (max-width: 576px) {
  .contact__form-submit {
    font-size: 14px;
  }
}

/*# sourceMappingURL=index.css.map */
