.hero {
  &__content {
    margin: 0 auto;
    max-width: 1040px;
    min-width: 1040px;
    text-align: center;

    &-span {
      color: $main-color;
    }

    &-title {
      margin-bottom: 24px;
      font-family: "Libre Baskerville";
      @include headingFonts($navigation-link-color, 90px, 700, 111.6px, none);
    }

    &-text {
      margin-bottom: 60px;
      @include headingFonts($navigation-link-color, 24px, 400, 29.26px, none);
    }
  }

  &__contact {
    margin-bottom: 60px;
    @include flexLayout(flex, center, center, 20px, row nowrap);
    &-btn {
      padding: 18px 40px;
      background-color: $navigation-link-color;
      border: 2px solid $navigation-link-color;
      @include headingFonts($light-color, 16px, 400, 19.5px, none);
      transition: color 150ms linear, background-color 150ms linear;

      &:hover {
        color: $navigation-link-color;
        background-color: transparent;
      }

      &--orange {
        color: $main-color;
        border: 2px solid $main-color;
        background-color: transparent;

        &:hover {
          color: $light-color;
          background-color: $main-color;
        }
      }
    }
  }

  &__play {
    width: 150px;
    height: 150px;
    cursor: pointer;
    position: relative;
    border-radius: 50%;
    margin: 0 auto 120px auto;
    border: 1px solid black;
    padding: 60px 60px 60px 60px;

    &-icon {
      width: 30px;
      height: 30px;
    }
  }
}
