html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body {
  scroll-behavior: smooth;
  font-family: "Montserrat";
}

// main {
//   display: none;
// }

section {
  display: none;
}

section:nth-child(1) {
  display: block;
}

section:nth-child(2) {
  display: block;
}

section:nth-child(3) {
  display: block;
}

section:nth-child(4) {
  display: block;
}

section:nth-child(5) {
  display: block;
}

section:nth-child(6) {
  display: block;
}

footer {
  display: none;
}
