$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// Name Colors

// RGB Colors

// HEX Colors
$main-color: #e18a07;
$light-color: #ffffff;
$placeholderColor: #acacac;
$input__border-color: #000000;
$services-text-color: #606060;
$navigation-link-color: #1e1e1e;
$footer-bottom-color: #1f1f1fb2;
$card-background-color: #f1f2f5;
$navbar-background-color: #00000080;
$services-background-color: #f5f6f9;
$navbar-link-background-color: #D2D2D2;