.footer {
  &__background {
    height: 100%;
    padding: 40px 0px;
    background-color: $services-background-color;
  }

  &__wrapper {
    position: relative;

    @include flexLayout(flex, space-between, flex-start, 0px, row nowrap);
  }

  &__box {
    &:first-child {
      height: 100%;
      @include flexLayout(flex, space-between, flex-start, 0px, column nowrap);
    }

    &-logo {
      height: 60px;
    }

    &:last-child {
      @include flexLayout(flex, flex-end, flex-end, 32px, row nowrap);
    }
  }

  &__small-box {
    text-align: right;
  }

  &__bottom {
    padding: 12px 0px;
    background-color: $light-color;
    @include flexLayout(flex, space-between, center, 0px, row nowrap);

    &-text {
      @include headingFonts($footer-bottom-color, 13px, 400, 100%, none);

      a {
        color: inherit;
      }
    }
  }

  &__medias {
    position: absolute;
    bottom: 0;
    @include flexLayout(flex, flex-start, center, 12px, row nowrap);
  }

  &__media {
    &:hover {
      border-radius: 50%;
      background-color: $navigation-link-color;
      transition: background-color 150ms linear;
    }

    &:hover &-icon {
      color: $light-color;
    }

    a {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1.5px solid $navigation-link-color;
      @include flexLayout(flex, center, center, 0px, row nowrap);
    }

    &-icon {
      font-size: 20px;
      color: $navigation-link-color;
      transition: color 150ms linear;
    }
  }

  &__list {
    margin-bottom: 145px;
    @include flexLayout(flex, flex-end, center, 20px, row nowrap);
  }

  &__item {
    &-link {
      position: relative;
      transition: color 150ms linear;
      @include headingFonts($navigation-link-color, 16px, 500, 19.5px, none);

      &::after {
        left: 0;
        width: 0%;
        content: "";
        height: 2px;
        bottom: -5px;
        position: absolute;
        background-color: $main-color;
        transition: width 150ms linear;
      }

      &:hover {
        color: $main-color;

        &::after {
          width: 100%;
        }
      }
    }
  }

  &__telegram-contact-title {
    @include headingFonts($navigation-link-color, 16px, 500, 19.5px, none);
  }

  &__telegram-contact-link {
    padding: 10px;
    margin-left: 15px;
    border-radius: 2px;
    display: inline-block;
    border: 1px solid $navigation-link-color;
    transition: color 150ms linear, background-color 150ms linear;
    @include headingFonts($navigation-link-color, 16px, 400, 19.5px, none);

    &:hover {
      color: $light-color;
      background-color: $navigation-link-color;
    }
  }

  &__box {
    &-image {
      width: 330px;
      height: 240px;
      object-fit: cover;
    }
  }
}
