.nav {
  &__list {
    max-width: 540px;
    min-width: 540px;
    @include flexLayout(flex, space-between, center, 0px, row nowrap);
  }

  &__item {
    &-link {
      letter-spacing: 0%;
      position: relative;
      transition: color 150ms linear;

      @include headingFonts($navigation-link-color, 16px, 400, 19.5px, none);

      &::after {
        left: 0;
        width: 0%;
        content: "";
        height: 2px;
        bottom: -5px;
        position: absolute;
        background-color: $main-color;
        transition: width 150ms linear;
      }

      &:hover {
        color: $main-color;
        &::after {
          width: 100%;
        }
      }
    }
  }
}
