.questions {
  padding: 56px 0px;
  margin-bottom: 120px;
  background-color: $services-background-color;

  @include md {
    padding: 28px 0px;
    margin-bottom: 60px;
  }

  &-title {
    text-align: center;
    margin-bottom: 36px;
    font-family: "Libre Baskerville";
    @include headingFonts($navigation-link-color, 48px, 700, 59.52px, none);

    @include md {
      font-size: 40px;
      margin-bottom: 30px;
    }

    @include sm {
      font-size: 25px;
      margin-bottom: 10px;
    }
  }

  &-span {
    color: $main-color;
  }

  &__container {
    @include flexLayout(flex, space-between, flex-start, 36px, row nowrap);

    @include defaultMediaQuery(1040px) {
      @include gridLayout(grid, 1, 36px);
    }

    @include md {
      @include gridLayout(grid, 1, 30px);
    }

    @include sm {
      @include gridLayout(grid, 1, 25px);
    }
  }

  &__list {
    @include gridLayout(grid, 1, 40px);
  }

  &__item {
    min-width: calc(100% / 2%);
    max-width: calc(100% / 2%);
    padding-bottom: 0px;
    border-bottom: 1.5px solid #d2d2d2;

    &--reset {
      padding-bottom: 18px;
    }

    &-text {
      @include headingFonts($services-text-color, 16px, 400, 150%, none);

      @include sm {
        font-size: 12px;
      }
    }
  }

  &__box {
    cursor: pointer;
    padding-bottom: 20px;
    @include flexLayout(flex, space-between, center, 0px, row nowrap);

    @include sm {
      padding-bottom: 10px;
    }

    &-title {
      @include headingFonts($navigation-link-color, 20px, 600, 24.38px, none);

      @include sm {
        font-size: 16px;
      }
    }

    &-icon {
      width: 18px;
      height: 18px;
      transition: transform 300ms linear;

      &--rotate {
        transform: rotate(180deg);
        transition: transform 300ms linear;
      }

      @include sm {
        width: 14px;
        height: 14px;
      }
    }
  }

  &__content {
    height: 0;
    width: 100%;
    overflow: hidden;
    transition: height 300ms linear;

    &--open {
      height: 100%;
      transition: height 300ms linear;
    }
  }
}
